@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {

}

main {
    
}

main.container {

}

header {

}

header.header {

}

h1 {

}

p {

}

section.controle {

}

section.sorteio {

}

div {
    
}